<%- include('template/head.ejs') %>

Hola estas en add_text

<form action="/texts/add_text" method="post" enctype="multipart/form-data">
    <select name="section_text" style="padding: 3px;">
        <% arraySections.forEach(element => { %>
            <option> <%= element.section %></option>
        <% }) %>
    </select>

    <input 
        type="text"
        name="english_text"
    >
    <input 
        type="text"
        name="spanish_text"
    >
    <input type="file" name="audio_text">
    <button type="submit" >Agregar</button>
</form>

<%- include('template/footer.ejs') %>
