<%- include('template/head.ejs') %>

Hola estas en add_text

<form action="/add_text" method="post" enctype="multipart/form-data">
    <input 
        type="text"
        name="english_text"
    >
    <input 
        type="text"
        name="spanish_text"
    >
    <input type="file" name="audio_text">
    <button type="submit" >Agregar</button>
</form>

<%- include('template/footer.ejs') %>
