<%- include('template/head.ejs') %>

Hola estas en add_text

<form action="/texts/add_text" method="post" enctype="multipart/form-data">
    <input 
        type="text"
        name="nombre"
    >
    <input 
        type="text"
        name="descripcion"
    >
    <input type="file" name="audio">
    <button type="submit" >Agregar</button>
</form>

<%- include('template/footer.ejs') %>
